name: Android CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.7'
    - name: Make gradlew executable
      run: chmod +x gradlew
    - name: Build Debug APK
      run: ./gradlew assembleDebug
    - uses: actions/upload-artifact@v4
      if: success()
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/*.apk
